<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>

    <div class="grid place-items-center">
<ul class="flex mb-10">
  <li class="mr-6">
    <a class="text-blue-500 hover:text-blue-800" href="{{ path('app_quack_index') }}">Quacks</a>
  </li>
  {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
   <li class="mr-6">
    <a class="text-blue-500 hover:text-blue-800" href="{{ path('app_logout') }}">Logout</a>
  </li>
    <li class="mr-6">
    <a class="text-blue-500 hover:text-blue-800" href="{{ path('app_duck_profile') }}">Profil</a>
  </li>
  {% else %}
  <li class="mr-6">
    <a class="text-blue-500 hover:text-blue-800" href="{{ path('app_login') }}">Login</a>
  </li>
 {% endif %}
  <li class="mr-6">
    <a class="text-blue-500 hover:text-blue-800" href="{{ path('app_register') }}">Register</a>
  </li>
</ul>
</div>


        {% block body %}{% endblock %}
    </body>
</html>
